[Desktop Entry]
Type=Application
Version=1.0
Encoding=UTF-8
Name=Hedgewars
GenericName=Fighting Hedgehogs
GenericName[ru]=Битвы ежей
GenericName[pl]=Walczące jeże
Icon=hedgewars.png
Exec=hedgewars
Terminal=false
StartupNotify=false
Categories=Application;Game;StrategyGame;
