[Desktop Entry]
Type=Application
Version=1.0
Encoding=UTF-8
Name=Hedgewars
GenericName=Fighting Hedgehogs
GenericName[de]=Kämpfende Igel
GenericName[es]=Batallas entre erizos
GenericName[fr]=Bataille de hérissons
GenericName[ko]=고슴도치 싸우기
GenericName[it]=Ricci combattenti
GenericName[pl]=Walczące jeże
GenericName[pt]=Batalhas entre ouriços
GenericName[ru]=Битвы ежей
GenericName[sk]=Bojujúci ježkovia
GenericName[sv]=Stridande igelkottar
Icon=hedgewars.png
Exec=hedgewars
Terminal=false
StartupNotify=false
Categories=Application;Game;StrategyGame;
