[Desktop Entry]
Type=Application
Version=1.0
Encoding=UTF-8
Name=Hedgewars
GenericName=Fighting Hedgehogs
GenericName[de]=Kämpfende Igel
GenericName[ru]=Битвы ежей
GenericName[pl]=Walczące jeże
GenericName[sk]=Bojujúci ježkovia
GenericName[sv]=Stridande igelkottar
GenericName[es]=Batallas entre erizos
GenericName[it]=Ricci combattenti
GenericName[pt]=Batalhas entre ouriços
Icon=hedgewars.png
Exec=hedgewars
Terminal=false
StartupNotify=false
Categories=Application;Game;StrategyGame;
