[Desktop Entry]
Type=Application
Name=Hedgewars
GenericName=Strategy Game
GenericName[ru]=Стратегия
Comment=Free Worms-like turn based strategy game
Comment[ru]=Пошаговая стратегия в стиле Worms
Exec=hedgewars
Icon=hedgewars
Categories=Game;StrategyGame;
