[Desktop Entry]
Type=Application
Name=Hedgewars
GenericName=Platform Game
GenericName[ru]=Платформенная игра
Comment=Worms style game
Comment[ru]=Игра в стиле Worms
Exec=hedgewars
Icon=hedgewars
Categories=Game;ArcadeGame;

