<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alternate</key>
	<false/>
	<key>music</key>
	<true/>
	<key>password</key>
	<string></string>
	<key>sound</key>
	<true/>
	<key>username</key>
	<string></string>
	<key>menu</key>
	<false/>
	<key>password_length</key>
	<integer>0</integer>
	<key>enhanced</key>
	<false/>
	<key>multitasking</key>
	<true/>
</dict>
</plist>
