CMakeCache.txt
CMakeFiles
moc_*.cxx
qrc_*.cxx
*.o
*.a
*.qm
Makefile
bin
*.hi
*.ppu
*.*~
*.core
hedgewars.pro.user
config.inc
cmake_install.cmake
QTfrontend/hwconsts.cpp
QTfrontend/servermessages.h
CPackConfig.cmake
CPackSourceConfig.cmake
tools/cmake_uninstall.cmake
install_manifest.txt
.DS_Store
*.swp
*.orig
*.diff
vittorio.*
project_files/HedgewarsMobile/Data/
project_files/HedgewarsMobile/Build/
gameServer/dist/
misc/liblua/Xcode/build/
misc/libphysfs/Xcode/build/
misc/libphyslayer/Xcode/build/
moc_*.cxx_parameters
relre:^release\/
*.log
*.cmd
*.diff
*.patch
*.orig
*.bak
*.rej
project_files/hwc/*.c
project_files/hwc/*.h
project_files/Android-build/SDL-android-project/jni/**
project_files/Android-build/SDL-android-project/obj
project_files/Android-build/SDL-android-project/libs/armeabi*
project_files/Android-build/SDL-android-project/bin
project_files/Android-build/SDL-android-project/gen
project_files/Android-build/SDL-android-project/local.properties
project_files/Android-build/SDL-android-project/project.properties
project_files/Android-build/SDL-android-project/default.properties
project_files/Android-build/SDL-android-project/proguard.cfg
project_files/Android-build/SDL-android-project/.*
project_files/Android-build/out
project_files/Android-build/Makefile.android
hedgewars-build-desktop-Qt*
hedgewars-build-desktop-Qt*
*.depends
tools/build_windows_koda.bat
share/hedgewars/Data/misc/hwengine.desktop
*.exe
_CPack_Packages/
version_info.txt
*.tar.*
*.or
*.res
Hedgewars.app/*
tools/CreateMacBundle.cmake
share/Info.plist
CTestTestfile.cmake
arch.c
*.swp
*~.nib
*.pbxuser
*.perspective
*.perspectivev3
*.project.xcworkspace
*.xcuserdata
xcuserdata
*.mode1v3
*.mode2v3
Testing/*
gameServer2/rls
gameServer2/target
