[package]
edition = "2018"
name = "hedgewars-server"
version = "0.0.1"
authors = [ "Andrey Korotaev <a.korotaev@hedgewars.org>" ]

[features]
official-server = ["openssl", "mysql"]
tls-connections = ["openssl"]
default = []

[dependencies]
getopts = "0.2.18"
rand = "0.6"
mio = "0.6"
mio-extras = "2.0.5"
slab = "0.4"
netbuf = "0.4"
nom = { git = "https://github.com/Geal/nom", branch = "5.0" }
env_logger = "0.6"
log = "0.4"
base64 = "0.10"
bitflags = "1.0"
serde = "1.0"
serde_yaml = "0.8"
serde_derive = "1.0"
openssl = { version = "0.10", optional = true }
mysql = { version = "15.0", optional = true }

[dev-dependencies]
proptest = "0.9"
