<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>basic</key>
	<array>
		<integer>50</integer>
		<integer>30</integer>
		<integer>150</integer>
		<integer>15</integer>
		<integer>47</integer>
		<integer>5</integer>
		<integer>100</integer>
		<integer>0</integer>
		<integer>35</integer>
		<integer>25</integer>
		<integer>0</integer>
		<integer>80</integer>
		<integer>0</integer>
		<integer>0</integer>
	</array>
	<key>gamemod</key>
	<array>
		<false/>
		<false/>
		<false/>
		<false/>
		<false/>
		<false/>
		<false/>
		<false/>
		<false/>
		<false/>
		<false/>
		<true/>
		<false/>
		<false/>
		<true/>
		<true/>
		<false/>
		<false/>
		<false/>
		<false/>
		<false/>
		<false/>
		<false/>
	</array>
</dict>
</plist>
