<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<false/>
	<false/>
	<false/>
	<false/>
	<false/>
	<false/>
	<false/>
	<false/>
	<false/>
	<false/>
	<false/>
	<true/>
	<false/>
	<false/>
	<true/>
	<false/>
	<false/>
	<integer>100</integer>
	<integer>15</integer>
	<integer>100</integer>
	<integer>15</integer>
	<integer>0</integer>
	<integer>3</integer>
	<integer>4</integer>
	<integer>0</integer>
	<integer>2</integer>
</array>
</plist>
