[Desktop Entry]
Type=Application
Version=1.0
Name=Hedgewars
Keywords=game;strategy;
GenericName=Fighting Hedgehogs
GenericName[de]=Kämpfende Igel
GenericName[es]=Batallas entre erizos
GenericName[fr]=Bataille de hérissons
GenericName[ko]=고슴도치 싸우기
GenericName[ja]=ファイチングハリネズミ
GenericName[it]=Ricci combattenti
GenericName[pl]=Walczące jeże
GenericName[pt]=Batalhas entre ouriços
GenericName[ru]=Битвы ежей
GenericName[sk]=Bojujúci ježkovia
GenericName[cs]=Bojující ježci
GenericName[sv]=Stridande igelkottar
GenericName[tr]=Dövüşen Kirpiler
Comment=Funny turn-based artillery game, featuring fighting hedgehogs!
Comment[de]=Lustiges zugbasiertes Artilleriespiel mit kämpfenden igeln!
Comment[it]=Gioco divertente di artiglieria a turni, con ricci combattenti!
Icon=hedgewars
Exec=hedgewars %U
Terminal=false
StartupNotify=false
Categories=Game;StrategyGame;
MimeType=x-scheme-handler/hwplay;
