<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>flag</key>
	<string>japan</string>
	<key>fort</key>
	<string>Plane</string>
	<key>grave</key>
	<string>bp2</string>
	<key>hash</key>
	<string>0</string>
	<key>hedgehogs</key>
	<array>
		<dict>
			<key>hat</key>
			<string>NinjaFull</string>
			<key>hogname</key>
			<string>Ukemi</string>
			<key>level</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>hat</key>
			<string>NinjaStraight</string>
			<key>hogname</key>
			<string>Godai</string>
			<key>level</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>hat</key>
			<string>NinjaTriangle</string>
			<key>hogname</key>
			<string>Ninpo</string>
			<key>level</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>hat</key>
			<string>NinjaStraight</string>
			<key>hogname</key>
			<string>Shinobi</string>
			<key>level</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>hat</key>
			<string>NinjaFull</string>
			<key>hogname</key>
			<string>Tatsujin</string>
			<key>level</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>hat</key>
			<string>NinjaTriangle</string>
			<key>hogname</key>
			<string>Arashi</string>
			<key>level</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>hat</key>
			<string>NinjaStraight</string>
			<key>hogname</key>
			<string>Bushi</string>
			<key>level</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>hat</key>
			<string>NinjaFull</string>
			<key>hogname</key>
			<string>Itami</string>
			<key>level</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>voicepack</key>
	<string>Default</string>
</dict>
</plist>
