<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>flag</key>
	<string>cm_binary</string>
	<key>fort</key>
	<string>UFO</string>
	<key>grave</key>
	<string>Rip</string>
	<key>hash</key>
	<string>0</string>
	<key>hedgehogs</key>
	<array>
		<dict>
			<key>hat</key>
			<string>cyborg</string>
			<key>hogname</key>
			<string>HAL</string>
			<key>level</key>
			<integer>4</integer>
		</dict>
		<dict>
			<key>hat</key>
			<string>cyborg</string>
			<key>hogname</key>
			<string>R2-D2</string>
			<key>level</key>
			<integer>4</integer>
		</dict>
		<dict>
			<key>hat</key>
			<string>cyborg</string>
			<key>hogname</key>
			<string>Wall-E</string>
			<key>level</key>
			<integer>4</integer>
		</dict>
		<dict>
			<key>hat</key>
			<string>cyborg</string>
			<key>hogname</key>
			<string>Robocob</string>
			<key>level</key>
			<integer>4</integer>
		</dict>
		<dict>
			<key>hat</key>
			<string>cyborg</string>
			<key>hogname</key>
			<string>Optimus Prime</string>
			<key>level</key>
			<integer>4</integer>
		</dict>
		<dict>
			<key>hat</key>
			<string>cyborg</string>
			<key>hogname</key>
			<string>C-3PO</string>
			<key>level</key>
			<integer>4</integer>
		</dict>
		<dict>
			<key>hat</key>
			<string>cyborg</string>
			<key>hogname</key>
			<string>Terminator</string>
			<key>level</key>
			<integer>4</integer>
		</dict>
		<dict>
			<key>hat</key>
			<string>cyborg</string>
			<key>hogname</key>
			<string>KITT</string>
			<key>level</key>
			<integer>4</integer>
		</dict>
	</array>
	<key>voicepack</key>
	<string>Robot</string>
</dict>
</plist>
