<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>default</key>
		<integer>100</integer>
		<key>image</key>
		<string>Health</string>
		<key>max</key>
		<integer>200</integer>
		<key>min</key>
		<integer>50</integer>
		<key>title</key>
		<string>Initial Health</string>
	</dict>
	<dict>
		<key>checkOverMax</key>
		<false/>
		<key>times1000</key>
		<false/>
		<key>command</key>
		<string>e$damagepct</string>
		<key>default</key>
		<integer>100</integer>
		<key>image</key>
		<string>Damage</string>
		<key>max</key>
		<integer>300</integer>
		<key>min</key>
		<integer>10</integer>
		<key>title</key>
		<string>Damage Modifier</string>
	</dict>
	<dict>
		<key>checkOverMax</key>
		<true/>
		<key>times1000</key>
		<true/>
		<key>command</key>
		<string>e$turntime</string>
		<key>default</key>
		<integer>45</integer>
		<key>image</key>
		<string>Time</string>
		<key>max</key>
		<integer>100</integer>
		<key>min</key>
		<integer>1</integer>
		<key>title</key>
		<string>Turn Time</string>
	</dict>
	<dict>
		<key>checkOverMax</key>
		<true/>
		<key>times1000</key>
		<false/>
		<key>command</key>
		<string>e$sd_turns</string>
		<key>default</key>
		<integer>15</integer>
		<key>image</key>
		<string>SuddenDeath</string>
		<key>max</key>
		<integer>50</integer>
		<key>min</key>
		<integer>0</integer>
		<key>title</key>
		<string>Sudden Death Timeout</string>
	</dict>
	<dict>
		<key>checkOverMax</key>
		<false/>
		<key>times1000</key>
		<false/>
		<key>command</key>
		<string>e$waterrise</string>
		<key>default</key>
		<integer>47</integer>
		<key>image</key>
		<string>SuddenDeath</string>
		<key>max</key>
		<integer>100</integer>
		<key>min</key>
		<integer>0</integer>
		<key>title</key>
		<string>Water Rise Amount</string>
	</dict>
	<dict>
		<key>checkOverMax</key>
		<false/>
		<key>times1000</key>
		<false/>
		<key>command</key>
		<string>e$healthdec</string>
		<key>default</key>
		<integer>5</integer>
		<key>image</key>
		<string>SuddenDeath</string>
		<key>max</key>
		<integer>100</integer>
		<key>min</key>
		<integer>0</integer>
		<key>title</key>
		<string>Health Decrease</string>
	</dict>
	<dict>
		<key>checkOverMax</key>
		<false/>
		<key>times1000</key>
		<false/>
		<key>command</key>
		<string>e$ropepct</string>
		<key>default</key>
		<integer>100</integer>
		<key>image</key>
		<string>Rope</string>
		<key>max</key>
		<integer>999</integer>
		<key>min</key>
		<integer>25</integer>
		<key>title</key>
		<string>Rope Length (%)</string>
	</dict>
	<dict>
		<key>checkOverMax</key>
		<false/>
		<key>times1000</key>
		<false/>
		<key>command</key>
		<string>e$casefreq</string>
		<key>default</key>
		<integer>5</integer>
		<key>image</key>
		<string>Box</string>
		<key>max</key>
		<integer>9</integer>
		<key>min</key>
		<integer>0</integer>
		<key>title</key>
		<string>Crate Drop Turns</string>
	</dict>
	<dict>
		<key>checkOverMax</key>
		<false/>
		<key>times1000</key>
		<false/>
		<key>command</key>
		<string>e$healthprob</string>
		<key>default</key>
		<integer>35</integer>
		<key>image</key>
		<string>Health</string>
		<key>max</key>
		<integer>100</integer>
		<key>min</key>
		<integer>0</integer>
		<key>title</key>
		<string>Health Kit Probability (%)</string>
	</dict>
	<dict>
		<key>checkOverMax</key>
		<false/>
		<key>times1000</key>
		<false/>
		<key>command</key>
		<string>e$hcaseamount</string>
		<key>default</key>
		<integer>25</integer>
		<key>image</key>
		<string>Health</string>
		<key>max</key>
		<integer>200</integer>
		<key>min</key>
		<integer>0</integer>
		<key>title</key>
		<string>Health Amount in Kit</string>
	</dict>
	<dict>
		<key>checkOverMax</key>
		<false/>
		<key>times1000</key>
		<true/>
		<key>command</key>
		<string>e$minestime</string>
		<key>default</key>
		<integer>3</integer>
		<key>image</key>
		<string>Time</string>
		<key>max</key>
		<integer>5</integer>
		<key>min</key>
		<integer>-1</integer>
		<key>title</key>
		<string>Mines Time</string>
	</dict>
	<dict>
		<key>checkOverMax</key>
		<false/>
		<key>times1000</key>
		<false/>
		<key>command</key>
		<string>e$minesnum</string>
		<key>default</key>
		<integer>4</integer>
		<key>image</key>
		<string>Mine</string>
		<key>max</key>
		<integer>80</integer>
		<key>min</key>
		<integer>0</integer>
		<key>title</key>
		<string>Mines Number</string>
	</dict>
	<dict>
		<key>checkOverMax</key>
		<false/>
		<key>times1000</key>
		<false/>
		<key>command</key>
		<string>e$minedudpct</string>
		<key>default</key>
		<integer>0</integer>
		<key>image</key>
		<string>Dud</string>
		<key>max</key>
		<integer>100</integer>
		<key>min</key>
		<integer>0</integer>
		<key>title</key>
		<string>Dud Mines Probability (%)</string>
	</dict>
	<dict>
		<key>checkOverMax</key>
		<false/>
		<key>times1000</key>
		<false/>
		<key>command</key>
		<string>e$explosives</string>
		<key>default</key>
		<integer>2</integer>
		<key>image</key>
		<string>Damage</string>
		<key>max</key>
		<integer>40</integer>
		<key>min</key>
		<integer>0</integer>
		<key>title</key>
		<string>Explosives</string>
	</dict>
	<dict>
		<key>checkOverMax</key>
		<false/>
		<key>times1000</key>
		<false/>
		<key>command</key>
		<string>e$getawaytime</string>
		<key>default</key>
		<integer>100</integer>
		<key>image</key>
		<string>Time</string>
		<key>max</key>
		<integer>999</integer>
		<key>min</key>
		<integer>0</integer>
		<key>title</key>
		<string>Get Away Time (%)</string>
	</dict>
	<dict>
		<key>checkOverMax</key>
		<false/>
		<key>times1000</key>
		<false/>
		<key>command</key>
		<string>e$airmines</string>
		<key>default</key>
		<integer>0</integer>
		<key>image</key>
		<string>Mine</string>
		<key>max</key>
		<integer>80</integer>
		<key>min</key>
		<integer>0</integer>
		<key>title</key>
		<string>Air Mines</string>
	</dict>
</array>
</plist>
